body{
	background-color: #62697F
}
h1{
	color: #3DFFDF;
	text-align:center;
	font-family: 'Indie Flower', cursive;
}
p{
	color: white;
	padding: 20px;
	text-align: center;
	font-size:20px;
	font-family: 'Indie Flower', cursive;
}
	
ul{
	float: left;
	width: 30%;
}

a{
	color:#EB0C09;
	padding:20px;
	text-align:bottom;
	font-size:17px;
	font-family: 'Indie Flower', cursive;
}
	
img{
	padding: 50px;
	width: 30%;
	justify-content: center;
	align-items: center;
}

	

