body{
	background-color: #62697F
}
h1{
	color: #3DFFDF;
	text-align:center;
	font-family: 'Indie Flower', cursive;
}
p{
	color: white;
	padding: 50px;
	text-align: left;
	font-size:20px;
	font-family: 'Indie Flower', cursive;
}
li{
	color: #34FFEF;
	padding: 50px;
	text-align: left;
	font-size:20px;
	font-family: 'Indie Flower', cursive;
}
a{
	color:#EB0C09;
	padding:20px;
	text-align:bottom;
	font size:10px;
	font-family: 'Indie Flower', cursive;
}
	
img{
	padding: 50px;
	img-align:right;
}
