body{
	background-color: #FF5A34
}
h1{
	color: #34FFEF;
	text-align:center;
	font-family: 'Indie Flower', cursive;
}
p1{
	color: white;
	padding: 50px;
	text-align: left;
	font-size:20px;
	font-family: 'Indie Flower', cursive;
}
li{
	color: #34FFEF;
	padding: 50px;
	text-align: left;
	font-size:20px;
	font-family: 'Indie Flower', cursive;
}
img{
	padding: 50px;
}

<!>